
// .canvas-container {
//     display: flex;
//     justify-content: center;
// }

// atd-grid-tile > ::ng-deep figure {
//     justify-content: flex-start !important;
// }

.flex-top {
    align-self: flex-start;
}