<!-- <div class="canvas-container"> -->
   <mat-grid-list cols="2"  rowHeight="3:2">
    <mat-grid-tile>
      <div class="flex-top">
        <h1>
          Proof of performance
        </h1>
        <p>
          Rebar web prototype for benchmarking interface behavior
        </p>
        <p>
          Some calculations are performered on every parameter edition in order to simulate a work load.
        </p>
        <ol>
          <li>Check for min / max on every figure parameter</li>
          <li>Simple calculation on segments</li>
          <li>trigonometric calculations based on a real case to solve the 401 form angle (the same calculations are applied to every form).</li>
        </ol>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- <mat-card style="background:#f2f2f2"> -->
      <div class="flex-top">
        <canvas #canvas width="600" height="300"></canvas>
      </div>
      <!-- </mat-card> -->
    </mat-grid-tile>
  </mat-grid-list>
<!-- </div> -->