@import '~@angular/material/theming';

.button-row button,
.button-row a {
  margin-right: 8px;
}

mat-form-field.numberToDownload {
    width: 30%;
}

mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
    padding: 4vh 4vw 0 4vw;
}

.content-sidenav {
    min-width: 200px;
    h2 {
        margin-top: 50px;
    }
    h5 {
        margin-top: 15px;
        color: red;
    }
}

.content-centered {
    text-align: center;
}

.table-container {
    margin: 30px 0 30px 0;
}

.total {
    margin-top: 20px;
    text-align: right;
}

::ng-deep .mat-chip-list-wrapper {
    padding-bottom: 5vh !important;
}

mat-sidenav {
    padding: 1vh 1vw;
    background-color: #f2f2f2;
    @include mat-elevation(10, black, 0.5);
}