<mat-sidenav-container class="mat-typography">
  <mat-sidenav mode="side" opened>
    <!-- <mat-tree [treeControl]="nestedTreeControl">
       <mat-nested-tree-node>
         Task
         <mat-nested-tree-node> listing 1 </mat-nested-tree-node>
         <mat-nested-tree-node> listing 2 </mat-nested-tree-node>
       </mat-nested-tree-node>
    </mat-tree> -->
    <div class="content-sidenav content-centered">
      <h2>Download from server</h2>
      <mat-form-field class="numberToDownload">
        <mat-select [(value)]="numberToDownload">
          <mat-option value="200">200</mat-option>
          <mat-option value="2000">2.000</mat-option>
          <mat-option value="10000">10.000</mat-option>
        </mat-select>
      </mat-form-field>
      figures
      <p>
        <button mat-raised-button (click)="addServerFigures()">Load</button>
      </p>
      <h2>Generate random</h2>
      <mat-form-field appearance="outline">
        <mat-label>Number of figures</mat-label>
        <input matInput #nFigures>
      </mat-form-field>
      <p>
        <button mat-raised-button (click)="addGeneratedFigures(nFigures)">Add</button>
      </p>
      <h5>
        Elapsed time: <b>{{elapsedTimeGenerating}}</b> ms
      </h5>
      <h2>Re-validate all</h2>
      <p>
        <button mat-raised-button (click)="validateAll()">Validate</button>
      </p>
      <h5>
        Elapsed time: <b>{{elapsedTimeValidating}}</b> ms
      </h5>
      <h2>
        Validations
      </h2>
      <h1>
        <b>
          {{validations | number: '1.'}}
        </b>
      </h1>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <mat-chip-list>
        <mat-chip color="accent" selected>
          PL 1a PORTICOS 1/2
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip selected>
          PL 1a PORTICOS 2/2
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip selected>
          PL 1a CIERRES 1/2
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip selected>
          PL 1a CIERRES 2/2
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

      <mat-tab-group mat-stretch-tabs color="accent">
        <mat-tab label="Cut & Bend">
          <div class="table-container">
            <hot-table
              colHeaders="true"
              [rowHeaders]="true"
              manualColumnResize="true"
              [data]="shapes"
              [height]="tableHeight"
              [settings]="settings"
              [afterOnCellMouseDown]="tableClick"
              [beforeChange]="tableChange"
              [afterSelectionEnd]="tableSelect"
              [afterRender]="afterRender"
            >
              <hot-column data="valid" type="checkbox" title="valid"></hot-column>
              <hot-column data="prefix" type="numeric" title="prefix"></hot-column>
              <!-- <hot-column data="pcgr" type="numeric" title="Pc/gr"></hot-column>
              <hot-column data="gr" type="numeric" title="gr"></hot-column> -->
              <hot-column data="total" type="numeric" title="total"></hot-column>
              <hot-column data="diameter" type="autocomplete" [source]="DIAMETERS" title="diameter"></hot-column>
              <hot-column data="type" type="autocomplete" [source]="TYPES" title="type"></hot-column>
              <hot-column data="length" type="numeric" title="length"></hot-column>
              <hot-column data="a" type="numeric" title="a"></hot-column>
              <hot-column data="b" type="numeric" title="b"></hot-column>
              <hot-column data="c" type="numeric" title="c"></hot-column>
              <hot-column data="d" type="numeric" title="d"></hot-column>
              <hot-column data="e" type="numeric" title="e"></hot-column>
              <hot-column data="f" type="numeric" title="f"></hot-column>
              <hot-column data="g" type="numeric" title="g"></hot-column>
              <!-- <hot-column data="x" type="numeric" title="x"></hot-column>
              <hot-column data="y" type="numeric" title="y"></hot-column> -->
              <hot-column data="v" type="numeric" title="v"></hot-column>
              <!-- <hot-column data="s" type="numeric" title="s"></hot-column>
              <hot-column data="t" type="numeric" title="t"></hot-column>
              <hot-column data="u" type="numeric" title="u"></hot-column> -->
              <hot-column data="totalweight" type="numeric" title="totalweight"></hot-column>
              <hot-column data="steelsort" type="autocomplete" [source]="STEEL_SORTS" title="steelsort"></hot-column>
              <hot-column data="radius" type="autocomplete" [source]="RADIUS" title="radius"></hot-column>
              <hot-column data="rev" type="autocomplete" [source]="REVS" title="rev"></hot-column>
              <hot-column data="leadtime" title="leadtime"></hot-column>
            </hot-table>
            <h3 class="total">
              Figures
              <b>
                {{shapes.length}}
              </b>
              <a id="shapesDonlowdLink">(download)</a>
            </h3>
          </div>
          <app-viewer [path]="selectedShapeCoords"></app-viewer>

        </mat-tab>
        <mat-tab label="Mesh">
        </mat-tab>
        <mat-tab label="Articles">
        </mat-tab>
      </mat-tab-group>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>